@{
    ViewBag.Title = "Home Page";
}

<script src="~/Scripts/JavaScript.js"></script>
<div class="jumbotron">
    @using (Html.BeginForm("Index", "Home", FormMethod.Get))
    {
        <input type="number" name="count" />
        <input type="submit" value="New Game" />
    }
    <input type="button" value="New Game" onclick="@("window.location.href='" + @Url.Action("Index", "Home") + "'");" />
    @ViewBag.Secret
    @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @Id = "GuessForm" }))
    {
        for (int i = 0; i < ViewBag.SecretWordLenght; i++)
        {
            if (ViewBag.GuessResult[i] == '2')
            {
                <input type="text" name="userGuess" maxlength="1" size="1" tabindex="@i" required lang="da" id="guessBox" class="green" onkeyup="inputJumpingOnMax(this,this.value)" />
            }
            else if (ViewBag.GuessResult[i] == '1')
            {
                <input type="text" name="userGuess" maxlength="1" size="1" tabindex="@i" required lang="da" id="guessBox" class="yellow" onkeyup="inputJumpingOnMax(this,this.value)" />
            }
            else
            {
                <input type="text" name="userGuess" maxlength="1" size="1" tabindex="@i" required lang="da" id="guessBox" class="grey" onkeyup="inputJumpingOnMax(this,this.value)" />
            }
        }
        <input type="submit" value="check" />
    }
</div>
<article>
    <ul>
        @for (int i = 0; i < ViewBag.OldGuesses.Length; i++)
        {
            <li>
                @for (int j = 0; j < ViewBag.OldResults[i].Length; j++)
                {
                    if (ViewBag.OldResults[i][j] == '2')
                    {
                        <span class="green">@ViewBag.OldGuesses[i][j]</span>
                    }
                    else if (ViewBag.OldResults[i][j] == '1')
                    {
                        <span class="yellow">@ViewBag.OldGuesses[i][j]</span>
                    }
                    else
                    {
                        <span class="grey">@ViewBag.OldGuesses[i][j]</span>
                    }
                }
            </li>
        }
    </ul>
</article>
<div Class="keyboard">
    <div class="toprow">
        <div id="q" class="key letter">
            Q
        </div>
        <div id="w" class="key letter">
            W
        </div>
        <div id="e" class="key letter">
            E
        </div>
        <div id="r" class="key letter">
            R
        </div>
        <div id="t" class="key letter">
            T
        </div>
        <div id="y" class="key letter">
            Y
        </div>
        <div id="u" class="key letter">
            U
        </div>
        <div id="i" class="key letter">
            I
        </div>
        <div id="o" class="key letter">
            O
        </div>
        <div id="p" class="key letter">
            P
        </div>
        <div id="enter" class="key enter">
            Enter
        </div>
    </div>
    <div class="middelrow">
        <div id="a" class="key letter">
            A
        </div>
        <div id="s" class="key letter">
            S
        </div>
        <div id="d" class="key letter">
            D
        </div>
        <div id="f" class="key letter">
            F
        </div>
        <div id="g" class="key letter">
            G
        </div>
        <div id="h" class="key letter">
            H
        </div>
        <div id="j" class="key letter">
            J
        </div>
        <div id="k" class="key letter">
            K
        </div>
        <div id="l" class="key letter">
            L
        </div>
        <div id="å" class="key letter">
            Å
        </div>
    </div>
    <div class="bottomrow">
        <div id="z" class="key letter">
            Z
        </div>
        <div id="x" class="key letter">
            X
        </div>
        <div id="c" class="key letter">
            C
        </div>
        <div id="v" class="key letter">
            V
        </div>
        <div id="b" class="key letter">
            B
        </div>
        <div id="n" class="key letter">
            N
        </div>
        <div id="m" class="key letter">
            M
        </div>
        <div id="æ" class="key letter">
            Æ<br>
        </div>
        <div id="ø" class="key letter">
            Ø
        </div>
        <div id="backspace" class="key backspace">
            ←
        </div>

    </div>

</div>

